@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --purple: #e9defa;
    --light-purple: #ece5f3;
    --yellow: #fbfcdb;
    --light: #f4f2ef;
    --medium: #f1eeeb;
    --dark: #344955;
}

@layer utilities {
    .bg-yellow-purple {
        background-image: linear-gradient(320deg,
                var(--purple) 0%,
                var(--yellow) 100%);
    }

    .bg-purple-yellow {
        background-image: linear-gradient(320deg,
                var(--yellow) 0%,
                var(--purple) 100%);
    }

    .bg-purple-light {
        background-image: linear-gradient(var(--purple) 0%, var(--light) 100%);
    }

    .bg-light-transparent {
        background-image: linear-gradient(90deg, var(--light) 0%, transparent 100%);
    }

    .bg-half {
        background-image: linear-gradient(0deg,
                var(--light) 0%,
                var(--light) 50%,
                var(--medium) 50%,
                var(--medium) 100%);
    }
}

@layer components {
    .border-effect {
        position: relative;
    }

    .border-effect.vertical {
        padding-left: 1rem;
        /* Adjust padding for space between text and border */
    }

    .border-effect.horizontal {
        padding-bottom: 0.2rem;
    }

    .border-effect::before {
        content: '';
        position: absolute;
        background-color: black;
        /* Border color */
        transform: translateY(-50%);
    }

    .border-effect.vertical::before {
        left: 0;
        top: 50%;
        height: 0;
        width: 2px;
        /* Thickness of the border */
        transition:
            height 0.4s ease-in-out,
            top 0.4s ease-in-out;
        /* Smooth transition */
    }

    .border-effect.horizontal::before {
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        /* Thickness of the border */
        transition:
            width 0.4s ease-in-out,
            left 0.4s ease-in-out;
        /* Smooth transition */
    }

    .border-effect:hover::before {
        transform: none;
        /* Align properly at the top */
    }

    .border-effect.vertical:hover::before {
        height: 100%;
        /* Expand the border to full height */
        top: 0;
        /* Move the starting point to the top */
    }

    .border-effect.horizontal:hover::before {
        width: 100%;
        /* Expand the border to full height */
        left: 0;
        /* Move the starting point to the top */
    }

    .border-static {
        position: relative;
        padding-left: 1rem;
        /* Space between text and border */
    }

    .border-static::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        /* Static from the top */
        height: 100%;
        /* Full height for the static border */
        width: 2px;
        /* Thickness of the border */
        transform: translateY(-50%);
        background-color: black;
        /* Border color */
        transform-origin: center;
        /* Center point for transformation */
    }

    .navigation {
        background-color: transparent;
        animation: navigation linear forwards;
        animation-timeline: view();
        animation-range-start: 100px;
    }

    @keyframes navigation {
        to {
            background-color: var(--light);
        }
    }

    #scrollable-gallery {
        overflow-x: scroll;
        overflow-y: hidden;
        /* Prevents vertical scrolling */
        display: flex;
        height: 100%;
        /* Ensures it uses the parent container’s height */
    }

    .scroller {
        width: 100%;
        height: 2px;
        transform-origin: left;
        transform: scaleX(0);
    }
}